@keyframes body{
        0%{
            background-position: 0 50%;   
        }
        50%{
            background-position: 100% 50%;   
            
        }
        100%{
            background-position: 0 50%;   
        }
}

@keyframes links{
    0%{
        text-shadow: 1px 1px 1px #0c5e3e;
    }
    50%{
        
        text-shadow: 1px 1px 1px #0fca82;
    }
    100%{
        text-shadow: 1px 1px 1px #159765;
        ;

    }
    
}

@keyframes sectionDoggo{
    0%{
        text-shadow: 1px 2px 3px #fefefe;
    }
    50%{
        
        text-shadow: 1px 2px 5px #f6faf9;
    }
    100%{
        text-shadow: 1px 1px 4px #eeefee;
        ;

    }
    
}
@keyframes shadowCards{
    0%{
        box-shadow: 1px 2px 3px #e2e799;
    }
    
    100%{
        box-shadow: 1px 1px 4px #d60f6c;
        ;

    }
    
}
